! Challenger Deep Xresources palette

! special
*.foreground:   #cbe3e7
*.background:   #1b182c
*.cursorColor:  #fbfcfc

! black
*.color0:       #100e23
*.color8:       #565575

! red
*.color1:       #ff8080
*.color9:       #ff5458

! green
*.color2:       #95ffa4
*.color10:      #62d196

! yellow
*.color3:       #ffe9aa
*.color11:      #ffb378

! blue
*.color4:       #91ddff
*.color12:      #65b2ff

! magenta
*.color5:       #c991e1
*.color13:      #906cff

! cyan
*.color6:       #aaffe4
*.color14:      #63f2f1

! white
*.color7:       #cbe3e7
*.color15:      #a6b3cc
! ! special
! *.foreground:   #d1d1d1
! ! *.background:   #221e2d
! *.cursorColor:  #f92672

! *.normal:       #373737
! ! black
! *.color0:       #333333
! *.color8:       #75715e

! ! red
! *.color1:       #f92672
! *.color9:       #f92672

! ! green
! *.color2:       #a6e22e
! *.color10:      #a6e22e

! ! yellow
! *.color3:       #f4bf75
! *.color11:      #f4bf75

! ! blue
! *.color4:       #66d9ef
! *.color12:      #66d9ef

! ! magenta
! *.color5:       #ae81ff
! *.color13:      #ae81ff

! ! cyan
! *.color6:       #aaaaaa
! *.color14:      #aaaaaa

! ! white
! *.color7:       #f8f8f2
! *.color15:      #f9f8f5


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xcursor.theme: Chameleon-Pearl-Regular-0.5
Xcursor.size:  0

!XTerm*background: #272827
!XTerm*foreground: #fdf6e3
XTerm*reverseVideo: on
XTerm*faceName: DejaVu Sans Mono:size=14:antialias=true
XTerm*selectToClipboard: true

URxvt.font: xft:Misc Tamsyn:style=Regular:size=12:antialias=true,xft:Terminus Medium:style=regular:size=12:antialias=true
URxvt.depth: 32

!! BACKGROUND TRANSPARENT
!URxvt.background: [80]#06060a

URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*background:                     #1b182c
!URxvt*foreground:                     grey
URxvt*saveLines:                      5000

URxvt.perl-ext-common: default
! URxvt.copyCommand: xclip -i -selection clipboard
! URxvt.pasteCommand: xclip -o -selection clipboard
! URxvt.keysym.S-C-c: perl:clipboard:copy
! URxvt.keysym.S-C-v: perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
